{% extends 'usermgmt/home.html' %}
{% block title %}Login {% endblock %}
{% block body_block %}

	<form id="login_form" method="post" action="usermgmt/login/">
	<h3 style="font-weight: bold; margin-left:320px">Please sign in</h3>
	{% csrf_token %}
	{% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Account is currently disabled; we can't log you in!</strong></p>
        {% endif %}
        <p style="margin-left:320px">Username : <input type="text" class="input-block-level" placeholder="username" name="username" value="" size="25"></p>
	<p style="margin-left:320px">Password &nbsp;: <input type="password" class="input-block-level" placeholder="password" name="password" value="" size="25"></p>
	<button class="btn btn-primary" type="submit" style="margin-left:320px">Sign in</button>
	</form>
{% endblock %}
